
$bg-primary: #cecece;
$bg-secondary: #ffffff;
$bg-third: #000000;

$text-primary: #000000;
$text-secondary: #ffffff;

$link: #2356e4;
$link-hover: #13025f;

$extra-color-1: #db1b1b;
$extra-color-2: #2356e4;
$extra-color-3: #13025f;

$toast-success: #65ad43;
$toast-warning: #eebc19;
$toast-negative: #c90606;

$height-navbar: 80px;
$transition: all .2s linear;
$box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);